In [2]:
import pandas as pd
titanic_data = {
                "passenger":[1,2,3,4,5,6,7,8,9,10],
                "name":["john", "smith","able","prince","Adwaith","anand","gokul","vibhav","mokshith","krish"],
                "age":[22,23,24,25,26,22,2,22,222,22,],
                "sex":["male","male","male","male","male","male","male","male","male","male"],
                "survived":[1,2,3,4,5,6,7,8,9,10]
               }

df=pd.DataFrame(titanic_data)
df.head()

   passenger     name  age   sex  survived
0          1     john   22  male         1
1          2    smith   23  male         2
2          3     able   24  male         3
3          4   prince   25  male         4
4          5  Adwaith   26  male         5

In [4]:
print(df['sex'].unique())

['male']

In [6]:
df["sex"]=df['sex'].map({'male':0})
df['sex'].head(1)

0   NaN
Name: sex, dtype: float64

In [8]:
df_encoded =pd.get_dummies(df, columns=['survived'],drop_first=True,dtype = int)
print(df_encoded.head())

   passenger     name  age  sex  survived_2  survived_3  survived_4  \
0          1     john   22  NaN           0           0           0
1          2    smith   23  NaN           1           0           0
2          3     able   24  NaN           0           1           0
3          4   prince   25  NaN           0           0           1
4          5  Adwaith   26  NaN           0           0           0

   survived_5  survived_6  survived_7  survived_8  survived_9  survived_10
0           0           0           0           0           0            0
1           0           0           0           0           0            0
2           0           0           0           0           0            0
3           0           0           0           0           0            0
4           1           0           0           0           0            0

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.DataFrame({'profit':[200,500,1000,1500,3000]})
scaler = MinMaxScaler()
data["profit_normalizer"] = scaler.fit_transform(data[["profit"]])
print(data)

   profit  profit_normalizer
0     200           0.000000
1     500           0.107143
2    1000           0.285714
3    1500           0.464286
4    3000           1.000000

In [13]:
import numpy as np
data = pd.DataFrame({'Sales': [10,50,200,1000,5000]})
data['Sales_log'] = np.log(data['Sales'])
print(data)

   Sales  Sales_log
0     10   2.302585
1     50   3.912023
2    200   5.298317
3   1000   6.907755
4   5000   8.517193